* {
  border: 1px solid red;
}

.brand-logo {
  padding: 50px;
}

.status {
  width: 400px;
}

.page-text {
  width: 400px;
}

.contact {
  width: 400px
}


.container {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  
}

.model-section {
   width: 40%;
   height: auto;
  position: relative;
}

.text-section {
  flex: 1;
  background-image: url("images/bg-pattern-desktop.svg");
}

.girlpicture {
  /* max-width:  70%; */
}
