/* * {
  border: 1px solid red;
} */

body {
  font-size: 16px;
}

.brand-logo {
  max-width: 25%;
  padding: 50px 50px 25px;
  margin-left: 80px;
  margin-top: 0px;
}

.status {
  margin-top: 1em;
  margin-left: 135px;
  margin-bottom: 25px;
  width: fit-content;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  color: hsl(0, 6%, 24%);
  word-spacing: 200px;
  font-size: 60px;
  line-height: 4rem;
}

.color-text {
  font-family: 'Josefin Sans', sans-serif;
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

.page-text {
  font-family: 'Josefin Sans', sans-serif;
  width: 400px;
  color: hsl(0, 36%, 70%);
  margin-left: 135px;
  line-height: 1.5rem;
  margin-top: 0px;
}

#contact-form {
  margin-top: 3.5rem;
  margin-left: 145px;
  width: 400px
}

.email-section {
  border-radius: 25px;
  width: 320px;
  height: 40px;
  outline: none;
  border: 1px solid;
  border-color: hsl(0, 36%, 70%);
  background: linear-gradient(135deg, hsl(0, 60%, 100%), hsl(0, 30%, 95%));
  font-family: 'Josefin Sans', sans-serif;
  z-index: 1;
}

input[type=email] {
  padding: 0px 0px 0px 25px;
}

.email-section:valid {
  border-color: hsl(0, 36%, 70%);
}

.email-section:invalid {
  border-color: red;
}

.submit-button {
  left: 430px;
  bottom: 45px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: 0px solid;
  width: 80px;
  height: 45px;
  border-radius: 35px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  box-shadow: 0px 8px 15px 2px;
}

.submit-button:hover {
  background: #F6CAC9;
}

#error-image {
  position: relative;
  top: 8px;
  right: 100px;
  visibility: hidden;
}

#error {
  margin-left: 20px;
  margin-top: 5px;
  color: hsl(0, 93%, 68%);
  display: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  position: absolute;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  margin-top: 25px;
  border: 1px solid;
  width: 1400px;
  height: 700px;
  overflow: hidden;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 30%, 95%));
}

.text-section {
  flex: 1;
  background-image: url("images/bg-pattern-desktop.svg");
}

.model-section {
  height: auto;
}

.girl-picture {
  position: relative;
  display: block;
}

.mobile-girl-picture {
  display: none;
}

/* MOBILE STYLES */
@media (max-width: 700px) {
  .girl-picture {
    visibility: hidden;
  }

  .text-section {
    text-align: center;
  }

  .brand-logo {
    margin-left: 0px;
    margin-right: 350px;
  }

  .status {
    margin-top: 80px;
    margin-left: 0px;
    position: relative;
  }

  .page-text {
    margin-left: 100px;
  }

  .model-section {
    display: none;
  }

  .mobile-girl-picture {
    display: block;
    margin-top: 0px;
    position: relative;
  }

  .mobile-box {
    height: 500px;
    overflow: hidden;
  }

  .submit-button {
    left: 200px;
  }

  .container {
    height: 800px;
    width: 600px;

    overflow-x: hidden;
  }

  #contact-form {
    margin-left: 110px;
  }

  .submit-button {
    left: 150px;
  }
}
