/* * {
  border: 1px solid red;
} */
.brand-logo {
  padding: 50px;
}

.status {
  width: 400px;
}

.page-text {
  width: 400px;
}

.contact {
  width: 400px
}

.container {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid;
  width: 65%;
  overflow: hidden;

}

.text-section {
  flex: 1;
  background-image: url("images/bg-pattern-desktop.svg");
}

.model-section {
  flex: 1;

  height: auto;
  justify-content: left;
}

.girlpicture {
  /* width: 595px; */
  position: relative;
  max-width: 80%;
 left: 135px;
}
